.main {
    margin: 10rem auto;
    width: 100%;

}

.BookAdded__Tbl {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;



}

th {
    border-bottom: 1px solid var(--grey);
}

th,
td {

    font-size: 3rem;
    color: var(--grey);
    padding: 3rem 24.2rem
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}